body{
    background: url(./img/demo.png) no-repeat center center fixed;
    background-size: cover;

    /*background: #282e3a;*/
    font-family: Tahoma;

}
/* .wrap { */
    /*width: 80%;*/
    /*filter: blur(13px);*/
/* } */
.box {
    width: 80%;
    margin: auto;
    /*width: 850px;*/
    /*overflow: hidden;*/
    height: 35rem;
    border-radius:5rem;
    border:.1rem solid rgba(255,255,255,.3);
    z-index: 1;
    /*毛玻璃边缘模糊超出隐藏*/
    overflow: no-display;
}
.box:before {
    content: "";
    position: absolute;
    width: 79%;
    height: 35rem;
    border-radius:5rem;
    /*background-color: rgba(255,255,255,0.8);*/
    background-color: rgba(0,0,0,0.2);
    z-index: -1;
    /*和大图拼接*/
    /*background-size: cover;*/

    /*background: url(./img/demo.png) no-repeat;*/
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -ms-filter: blur(8px);
    -o-filter: blur(8px);
    filter: blur(8px);
    /*消除边缘渐变过渡*/

}
h1{
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 10px;
}
span {
    padding: 1.3rem;
    width: 20%;
}
#clock {
    padding-left: 2rem;
}
#clock span{
    float: left;
    text-align: center;
    font-size: 5rem;
    margin: 0 1rem 0 1rem;
    color: #ffffff;
    padding: 2rem;
    width: 20%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 2rem;
    background: rgba(0,57,63,0.6);

    box-sizing: border-box;
}
#clock span:nth-child(1){
    background: #fa5559;
}
#clock span:nth-child(2){
    background: #26c2b9;
}
#clock span:nth-child(3){
    background: #f6bc59;
}
#clock span:nth-child(4){
    background: #2dcb74;
}

#units span{
    float: left;
    width: 20%;
    text-align: center;
    color: #dddddd;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

#clock:after{
    content: "";
    display: block;
    clear: both;
}

span.turn{
    animation: turn 0.7s ease forwards;
}

span {
    font-size: 4rem;
}
@keyframes turn {
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(360deg)}
}


@media only screen and (max-width: 767px){
    .box,.box:before,#clock h1,.turn  {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .box {
        width: 80%;
        margin: auto;
        height: 35rem;
        border-radius:5rem;
        border:.1rem solid rgba(255,255,255,.3);
        overflow: hidden;
    }
    .box:before {
        position: absolute;
        width: 79%;
        height: 35rem;
        border-radius:5rem;
        background-color: rgba(0,0,0,0.2);
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -ms-filter: blur(8px);
        -o-filter: blur(8px);
        filter: blur(8px);
    }
    h1 {
        width: 20%;
        padding: 2rem 0 0 2rem;
        letter-spacing: .2rem;
        font-size: 2.5rem;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
    span {
        display: inline-block;
        font-size: 2rem;
        margin: 0rem 2rem 1rem 0;
        height: 20%;
        width: 100%;
        /* 天小时分钟高度 */
        padding: 0px 11px 1px 1px;
        
    }

    #clock {
        font-size: 2rem;
        padding: 1rem 2rem .1rem .1rem;
        width: 34%;
        font-size: 1rem;
        float: right;
        /* 时间高度 */
        margin: .5rem .5rem 1rem .5rem;
        border-radius: 1rem;
    }

    #clock:after{
        display: inline-flex;
        clear: none;
    }
    #clock span:nth-child(1) {
        background: #fa5559;
        width: 6rem;        
        padding: 0 0 0 0;
        margin: .5rem;
    }

    #clock span:nth-child(2) {
        background: #26c2b9;
        width: 6rem;
        padding: 0 0 0 0;
        margin: .5rem;
    }

    #clock span:nth-child(3) {
        background: #f6bc59;
        width: 6rem;
        padding: 0 0 0 0;
        margin: .5rem;
    }

    #clock span:nth-child(4) {
        background: #2dcb74;
        width: 6rem;
        padding: 0 0 0 0;
        margin: .5rem;

    }

    #units{
        float: right;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
    #units {
        width: 20%;
        /*text-align: center;*/
        /* 最右控制高度 */
        height: 30rem;
        padding: 1rem .1rem 0 0;
        margin: 2.9rem 0 2rem 0
    }
}
