body{
    background: url(./img/demo.png) no-repeat center center fixed;
    background-size: cover;

    /*background: #282e3a;*/
    font-family: Tahoma;

}
/* .wrap { */
    /*width: 80%;*/
    /*filter: blur(13px);*/
/* } */
.box {
    width: 70rem;
    margin: auto;
    /*width: 850px;*/
    /*overflow: hidden;*/
    height: 35rem;
    border-radius:5rem;
    border:.1rem solid rgba(255,255,255,.3);
    z-index: 1;
    /*毛玻璃边缘模糊超出隐藏*/
    overflow: no-display;
}
.box:before {
    content: "";
    position: absolute;
    width: 70rem;
    height: 35rem;
    border-radius:5rem;
    background-color: rgba(255,255,255,0.8);
    z-index: -1;
    /*和大图拼接*/
    background-attachment: fixed;

    background: url(./img/demo.png);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    /*消除边缘渐变过渡*/

}
@media only screen and (max-width: 767px){
    .body {
        height: 100%;
        width: 100%;
    }
    .box {
        top: 20%;
    }
    #clock span {
        font-size: .9vw;
        margin: 0 .1rem 0 .2rem;
        color: #ffffff;
        padding: .2rem;
        width: 20px;
    }
    h1{
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
    }
}
/* 
@media only screen and (max-width: 500px) {

} */

h1{
    color: #ffffff;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 10px;
}
#clock span{
    float: left;
    text-align: center;
    font-size: 9vw;
    margin: 0 1rem 0 2rem;
    color: #ffffff;
    padding: 2rem;
    width: 20%;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    border-radius: 2rem;
    background: rgba(0,57,63,0.6);

    box-sizing: border-box;
}
#clock span:nth-child(1){
    background: #fa5559;
}
#clock span:nth-child(2){
    background: #26c2b9;
}
#clock span:nth-child(3){
    background: #f6bc59;
}
#clock span:nth-child(4){
    background: #2dcb74;
}

#units span{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 2rem;
    color: #dddddd;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7);
}

#clock:after{
    content: "";
    display: block;
    clear: both;
}

span.turn{
    animation: turn 0.7s ease forwards;
}

span {
    font-size: 4rem;
}
@keyframes turn {
    0%{transform: rotateX(0deg)}
    100%{transform: rotateX(360deg)}
}